---
import Card from "../components/Card.astro";
---
<nav class="nav-links">
  <ul role="list" class="link-card-grid">
    <Card href="/" title="Home" body="Welcome home" />
    <Card href="/about" title="About" body="What is golb?" />
    <Card href="/posts" title="Posts" body="Oana's posts" />
  </ul>
</nav>
